<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    header{
        width: 100%;
        height: 150px;
        background-color: gray;
    }
    nav{
        width: 150px;
        height: 500px;
        background-color: gainsboro;
        float: left;
    }
    
</style>
<body>
    <header>
        <h1>Cascading Style Sheets</h1>
    </header>
    <nav>
        <h2>Navigation</h2>
        <a href="">Example index</a>
    </nav>
    <section>
        <h2>CSS Positioning</h2>
        <p><img src="/Layout/img/anh1.png" alt="anh 1" style="float: left;">This articcle introduces the topic of laying out web pages
        in CSS using a combination of postioning schemes.
        This articcle introduces the topic of laying out web pages
        in CSS using a combination of postioning schemes.
        This articcle introduces the topic of laying out web pages
        in CSS using a combination of postioning schemes.
        This articcle introduces the topic of laying out web pages
        in CSS using a combination of postioning schemes.
        This articcle introduces the topic of laying out web pages
        in CSS using a combination of postioning schemes.</p>
    </section>
</body>
</html>